aiohttp==3.8.4
aiosqlite==0.17.0
async-timeout==4.0.2
attrs==22.1.0
certifi==2022.12.7
chardet==5.0.0
charset-normalizer==2.1.1
chat-exporter==2.5.1
DateTime==4.7
emoji==2.2.0
grapheme==0.6.0
idna==3.3
multidict==6.0.2
py-cord==2.4
pytz==2022.2.1
quickchart.io==1.0.1
requests==2.28.1
toml==0.10.2
typing-extensions==4.3.0
urllib3==2.0.4
yarl==1.8.1
zope.interface==5.4.0
pygsheets==2.0.5