aiohttp==3.8.4
aiosqlite==0.17.0
async-timeout==4.0.2
attrs==22.1.0
certifi==2022.12.7
chardet==5.0.0
charset-normalizer==3.2.0
chat-exporter==2.8.2
DateTime==4.7
emoji==2.2.0
grapheme==0.6.0
idna==3.3
multidict==6.0.2
py-cord==2.6.1
pytz==2022.2.1
quickchart.io==2.0.0
requests==2.31.0
toml==0.10.2
typing-extensions==4.7.1
urllib3==2.4.0
yarl==1.8.1
zope.interface==6.0

